<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:3009/../">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Vu Quoc Thanh</h1>
    <form action="/result" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar">
        <input type="text" name="username">
        <input type="password" name="password">
        <textarea name="note" id="" cols="30" rows="10"></textarea>
        <button>Send</button>
    </form>
</body>
<script src="reload/reload.js"></script>
</html>