<!DOCTYPE html>
<html lang="en">

<head>
    <base href="http://localhost:3009/../">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        img {
            margin: 20px;
            box-shadow: 3px 5px rgba(192, 117, 117, 0.47);
        }
    </style>
</head>

<body>
    <h1>vu thanhs</h1>
</body>
<script src="reload/reload.js"></script>

</html>