<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        img {
            border: 2px solid black;
            box-shadow: 10px 10px 5px 0px rgba(129, 108, 50, 0.74);
            margin: auto;
            display: block;
            margin-top: 200px;
        }
        div {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 30px;
            font-weight: bold;
            animation-name: vuquocthanh;
            animation-duration: 10s;
            animation-iteration-count: 10;

            text-align: center;
            margin-top: 20px;
            text-shadow: 7px 7px 6px rgba(133, 122, 106, 1);
            background-color: rgba(44, 68, 199, 0.66);
        }
        @keyframes vuquocthanh{
            0% {color: red;}
            50% {color: black;}
            100% {color: blue;}
        }
    </style>
</head>
<body>
    <img alt="Em Gai Mua" width="300px" height="300px" src="./image/emgaimua.jpg">
    <div>Vũ QUoc  Thanh</div>
</body>
</html>